{% extends "../basic_layout.html" %}
{% block body_content %}
    <div class="panel panel-default hentry">
        <div class="panel-heading">
            <h1 class="panel-title"><span class="glyphicon glyphicon-pencil"></span> <span class="text-primary">查询结果</span><span class="sep"></h1>
        </div>
        <div class="panel-body entry-content">
          {% if msg %}
			<div class="alert alert-warning">{{msg}}</div>
		  {% endif %}
			{% if datalineinfo != nil %}
				<div>
					{{datalineinfo.Id}}
				</div>
			{% else %}
				<div>无对应的结果</div>
			{% endif %}
        </div>
      </div>
{% endblock %}